<header>
  <nav class="navbar navbar-expand bg-light mb-3">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbarLinks nav-link" [routerLink]="'/registration_page'" id="registrationLink">Registration</a>
          </li>
          <li class="nav-item">
            <a class="navbarLinks nav-link" [routerLink]="'/list_of_participants'" id="participantsLink">List of participants</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
